# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store
/src/main/resources/Nodes_7_OutTree.dot
/src/main/resources/Nodes_9_SeriesParallel.dot
/src/main/resources/Nodes_10_Random.dot
/src/main/resources/INPUT-output.dot
/src/main/resources/Nodes_11_OutTree.dot
