.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
    -fx-border-width: 1px;
    -fx-border-color: white;

}
.status-red:hover{
    -fx-background-color: rgba(128,0,0,1);
    -fx-border-width: 1px;
    -fx-border-color: red;

}
.status-green {
    -fx-background-color:rgba(0,128,0,0.7);
    -fx-border-width: 1px;
    -fx-border-color: white;

}

.status-green:hover{
    -fx-background-color: rgba(0,128,0,1);
    -fx-border-width: 1px;
    -fx-border-color: red;
}
.status-blue {
    -fx-background-color: rgba(55, 179, 252, 0.7);
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.status-blue:hover{
    -fx-background-color: rgba(55, 179, 252, 1);
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.status-yellow {
    -fx-background-color: rgba(237, 239, 41, 0.7);
    -fx-border-width: 1px;
    -fx-border-color: white;

}

.status-yellow:hover{
    -fx-background-color: rgb(239, 241, 24);
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.chart-horizontal-grid-lines {
    -fx-stroke: black;
}
.chart-title{
    -fx-text-fill: #000000;
}

.axis {
    -fx-tick-label-fill: #000000;
}

.axis-label {
    -fx-text-fill: #000000;
}